<div class="home-banner">
    <div class="style-banner">
      <h1>Cuddle Pet</h1>
      <p>
        <span id="banner-typed-text"></span>
      </p>
    </div>
  </div>
<h1>Available Pets:</h1>
<div class="grid-container2">

    <div class="cards">
      <% @pets.each do |pet| %>
        <%= link_to pet_path(pet), {class: "card-over"} do %>
          <div class="cardindex">
            <div class="card-trip">
              <%= cl_image_tag pet.get_photo %>
              <div class="card-trip-infos">
                <div>
                  <h2><%= pet.name.capitalize %></h2>
                </div>
                <h2 class="card-trip-pricing"><%= pet.price %> CHF</h2>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div id="map"
    style="width: 100%;
    height: 600px;
    border-radius: 5px;
    position: sticky;
    top: 0;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

</div>


