<div class="home-banner">
    <div class="style-banner">
      <h1>Cuddle Pet</h1>
      <p>
        <span id="banner-typed-text"></span>
      </p>
    </div>
  </div>
<div class="titre-home" style="border-bottom: 1px solid rgb(230, 230, 230);
                               padding: 8px 20px;">
  <h2>Available Pets:</h2>
</div>

<div class="grid-container2">
  <div class="row">
    <div class="col-md-8 px-0 py-0">
    <div class="cards">
      <% @pets.each do |pet| %>
        <%= link_to pet_path(pet), {class: "card-over"} do %>
          <div class="cardindex">
            <div class="card-trip">
              <%= cl_image_tag pet.get_photo %>
              <div class="card-trip-infos">
                <div>
                  <h2><%= pet.name.capitalize %></h2>
                </div>
                <h2 class="card-trip-pricing"><%= pet.price %> CHF</h2>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

<div class="col-md-4 px-0 py-0" style="height: 100%;">
    <div id="map"
    style="width: 100%;
    height: 100vh;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>



</div>


