<div class="show-banner" id="dog-love" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
  <%= cl_image_tag @pet.photo, height: 450, width: 600, crop: :fill %>
</div>


<div class="grid-container">
  <div class="container-details">
    <h2><%= @pet.name %></h2>
    <p><%= @pet.description %></p>
    <p><%= @pet.user.email %></p>
  </div>
  <div class="box">
    <p><%= @pet.price %> CHF</p>
    <div class="btn btn-primary">book</div>
  </div>

</div>
