<div class="container">
  <div class="booking">
    <h1> BOOKING CONFIRMED! <i class="fas fa-paw"></i></h1>
  </div>

  <div class="card">
    <div class="dateorder">
      <h4> Start rental  <%= @order.starts_at %></h4>
      <h4> End rental  <%= @order.ends_at  %></h4>
    </div>

    <div class="price">
      <h4> Total price : <%= @order.pet.price %> CHF</h4>
    </div>

    <div class="info">
      <div class="owner">
        <h4> Owner details </h4>
      </div>

     <div class="owner-details">
        <h5> <i class="fas fa-user" ></i> <%= @order.user.email %></h5>
        <h7><i class="fas fa-water" > </i> Don't forget that an animal needs to drink a lot of water.</h7>
      </div>

    </div>


    <div class="terms">
      <h6>Terms of Service</h6>
      <p>
        Last Updated: January 21, 2019

        Thank you for using cuddle-pet!

        These Terms constitute a legally binding agreement ("Agreement") between you and cuddle-pet (as defined below) governing      your access to and use of the cuddle-pet website, including any subdomains thereof, and any other websites through which cuddle-pet makes its services available (collectively, "Site"), our mobile, tablet and other smart device applications, and application program interfaces (collectively, "Application") and all associated services (collectively, "cuddle-pet Services"). The Site, Application and cuddle-pet Services together are hereinafter collectively referred to as the “cuddle-pet Platform”. Our Host Guarantee Terms, Japan Host Insurance Terms, Guest Refund Policy, Nondiscrimination Policy and other Policies applicable to your use of the cuddle-pet Platform are incorporated by reference into this Agreement.

        When these Terms mention “cuddle-pet,” “we,” “us,” or “our,” it refers to the cuddle-pet company you are contracting with.      Your contracting entity will generally be determined based on your country of residence or establishment.
      </p>
      <div>
         <%= link_to "Home Page", root_path, class: "btn btn-primary"%>
      </div>
    </div>
  </div>
</div>
